$bg-col: "#f2f3f8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $bg-col;
}
.form {
  display: grid;
  grid-template-columns: auto auto;
  width: 95vw;
  height: 95vh;
  margin: auto;
  align-items: center;
  .form__input--create {
    margin-bottom: 2rem;
  }
}
